{% extends 'index.html' %}
{% load static %}
{% block body %}
<style>
    th{
    color:black;
    font-weight:bold;
    }
   
   
</style>

	<div class="w3l_banner_info" style="height:10px">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px">
							<div class="slider_banner_info">


							</div>
						</div>
					</li>


				</ul>
			</div>
		</div>
	</div>  
	<!-- //banner-slider -->
</div>
</header>

<br>
<br>
<br>
<br>
<br>
<br>
<br>





<h1>ratings </h1>



{% endblock %}