
{% extends 'index.html' %}
{% load static %}
{% block body %}
    

	<div class="w3l_banner_info" style="height:10px">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px">
							<div class="slider_banner_info">


							</div>
						</div>
					</li>


				</ul>
			</div>
		</div>
	</div>  
	<!-- //banner-slider -->
</div>
</header>
<div class="container-fluid" style="margin-top:10%">
    <div class="container">
                 <div class="container-fluid">
                    <h2 style="font-weight:bold; color : black ;margin-top:5%" align="center">Service History</h2><hr>
                     <button  id="viewHistoryBtn" style="background-color:green; cursor:pointer; color:white" >back</button>
                 </div>
                 <br>
              
                  
                 <table class="table table-hover">
                                  
                    <thead>
                      <tr>
                        <th style="color:black">#</th>
                        <th style="color:black">Service</th>
                        <th style="color:black">service provider</th>
                        <th style="color:black">Contact</th>
                        <th style="color:black">Date</th>
                        <th style="color:black">Days</th>
                        <th style="color:black">Hours</th>
                        <th style="color:black">Status</th>
                        <th style="color:black">View detail</th>
                        <th style="color:black">Action</th>
                        <th style="color:black">Ratings</th>

                    </tr>
                </thead>
                <tbody>
                 
                {% for i in order %}
                
                  <tr>
                    <td style="color:black">{{forloop.counter}}</td>
                    <td style="color:black">{{i.service.service_name}}</td>
                    <td style="color:black">{{i.service.user.first_name}} {{i.service.user.last_name}}</td>
                    <td style="color:black">{{i.service.contact}}</td>
                    <td style="color:black">{{i.book_date}}</td>
                    <td style="color:black">{{i.book_days}}</td>
                    <td style="color:black">{{i.book_hours}}</td>
                    <td style="color:black">{{i.status.status}}</td>
                    <td style="color:black"><a href="{% url 'Booking_detail' i.id %}" ><i style="font-size:30px;color:green" class="fa fa-eye"></i></a></td>
                    <td style="color:black"><a href="{% url 'delete_Booking' i.id %}" ><i onclick="return confirm('Are You Confirm?')"><button type="submit" style="font-size:15px;  background:green; color:white;" id="doneBtn">Done</button></i></a></td>
                    <td style="color:black"><a href="view_history.html" ><button style="font-size:15px;  background:blue; color:white;">Ratings</button></a></td>
                </tr>
                
                {% endfor %}
               
            </tbody>
        </table>
         
  </div>
</div>

<script>
  
    // Optionally, you can also add an event listener to the "View Purchase History" button
      const viewHistoryBtn = document.getElementById('viewHistoryBtn');
      viewHistoryBtn.addEventListener('click', () => {
          // Redirect to the page where you display purchase history
          window.location.href = 'customer_order';
    });
  </script>
  
{% endblock %}